.body {
    text-align: center;
}

.header {
    font-size: 30px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px;
    font-size: 50px;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(192, 218, 226);
}

#restartButton {
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(210, 210, 210);
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin: 15px;
}

